@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #2e476b;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header {
  display: flex;
  background-color: #102C57;
  height: 100px;
  align-items: center;
  justify-content: center;
  color: white;
}

.main-container {
  display: flex;
  flex-direction: column;
  /* background-color: #DAC0A3; */
  background-color: rgba(255, 255, 255, 0.473);
  max-width: 37.5em;
  padding: 60px;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  border-radius: 10px;
}

.search-container {
  display: flex;
  /* background-color: black; */
  padding: 10px;
  width: 500px;
  justify-content: space-evenly;
}

input {
  width: 300px;
}

#search-button {
  width: 100px;
}

.search-container input, .search-container button {
  font-size: 0.9em;
  outline: none;
  border-radius: 5px;
}

.search-container input {
  background-color: transparent;
  border: 1px solid rgb(26, 23, 23);
  color: white;
  padding: 10px;
}

.search-container input:focus {
  border-color: rgb(212, 203, 203);
}

.search-container button {
  background-color: #102C57;
  border: none;
  color: white;
  cursor: pointer;
}

#result-container {
  color: white;
}

.info {
  position: relative;
  display: grid;
  grid-template-columns: 4fr 8fr;
  margin-top: 1.2em;
}

.poster {
  width: 100%;
}

h2 {
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 0.06em;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6em;
  margin: 0.6em 0 0.9em 0; 
}

.rating img {
  width: 1.2em;
}

.rating h4 {
  display: inline-block;
  font-size: 1.1em;
  font-weight: 500;
}

.details {
  display: flex;
  font-size: 0.95em;
  gap: 1em;
  justify-content: center;
  color: rgba(245, 245, 220, 0.435);
  margin: 0.6em 0;
  font-weight: 300;
}

.genre {
  display: flex;
  justify-content: space-around;
}

.genre div {
  border: 1px solid rgba(245, 245, 220, 0.435);
  font-size: 0.75em;
  padding: 0.4em 1.6em;
  border-radius: 0.4em;
  font-weight: 300;
}

h3 {
  font-weight: 500;
  margin-top: 1.2em;
}

p {
  font-size: 0.9em;
  font-weight: 300;
  line-height: 1.8em;
  text-align: justify;
  color: #102C57;
}

.msg {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .container {
    font-size: 16px;
  }
  .poster {
    margin: auto;
    width: auto;
    max-height: 10.7em;
  }

  .info {
    grid-template-columns: 1fr;
  }
}
